@import 'tailwindcss';

@theme {
  --default-font-family: 'Inter', 'sans-serif';
  --font-serif: 'Inter', 'sans-serif';
  --font-sans: 'Inter', 'sans-serif';
  --font-mono: 'Inter', 'sans-serif';
  --font-display: 'Inter', 'sans-serif';
  --font-body: 'Inter', 'sans-serif';
  --font-heading: 'Inter', 'sans-serif';
  --font-subheading: 'Inter', 'sans-serif';
  --font-small: 'Inter', 'sans-serif';
  --font-medium: 'Inter', 'sans-serif';
  --font-large: 'Inter', 'sans-serif';
}