@import 'tailwindcss';

@theme inline {
  --color-editor-background: #1e2336;
  --color-editor-fg: #a9b1d6;
  --color-editor-border: #1b1e2e;
  --color-editor-background-secondary: #31364d;
  --color-primary: #3db9c9;
  --color-primary-muted: #3d64a1;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 10px
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-editor-background-secondary;
}
