name: CD

on:
  release:
    types: ['released']

jobs:
  infer-version:
    if: github.event_name == 'release' && startsWith(github.event.release.tag_name, '@websavva/portfolio-website-v')
    runs-on: ubuntu-latest
    name: Infer version
    outputs:
      version: ${{ steps.set_version.outputs.version }}
    steps:
      - name: Infer app version
        shell: bash
        id: set_version
        run: |
          # If a release tag is present, use it; otherwise, use the input version
          if [ -n "${{ github.event.release.tag_name }}" ]; then
            VERSION_TAG="${{ github.event.release.tag_name }}"
            # Remove @websavva/portfolio-website-v prefix
            VERSION="${VERSION_TAG#@websavva/portfolio-website-v}"
          else
            VERSION="${{ inputs.version }}"
          fi
          echo "Inferred version: $VERSION"

          # Set the output for the current step
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  website-cd:
    if: github.event_name == 'release' && startsWith(github.event.release.tag_name, '@websavva/portfolio-website-v')
    name: Website CD
    needs: infer-version
    uses: ./.github/workflows/website-cd.yml
    secrets: inherit
    with:
      version: ${{ needs.infer-version.outputs.version }}